@page
@model KUSYS_Demo.Pages.Courses.listModel
@{
    <title>Courses</title>
}

<div class="bg-secondary bg-opacity-10 py-2 mb-4">
    <div class="container">
        <h1>Listing Courses</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>

                <td>CourseId</td>
                <td>CourseName</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model.Courses)
            {
                <tr>

                    <td>@course.CourseId</td>
                    <td>@course.CourseName</td>
                    

                </tr>
            }
        </tbody>
    </table>

</div>