@page
@model IndexUsersModel
@{
    Layout = null;
}


<html>
<head>
    <title>Login Form/KUSYS-Demo</title>

    <meta content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #000000;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 15px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .lgnbtn {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 50%;
        }
    </style>

</head>
<body>
    <form method="post" asp-page="IndexUsers">

        <div class="container">
            <center>
                <h2>User Login Form</h2>
               
                        <strong> <a class="nav-link" asp-area="" asp-page="/Index">Admin Login Form</a></strong>
                   
            </center>
            <br /> @Model.Msg<br />
            <label> <b>User-Username</b></label>
            <input type="text" asp-for="@Model.Username" />
            <label><b>User Password</b></label>
            <input type="password" asp-for="@Model.Password" />
            <center>
                <input type="submit" class="lgnbtn" value="Login" />
            </center>



        </div>
    </form>
</body>
</html>

                                 
